<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台</title>
    <include file="App/Admin/View/component/importComponent.html" />
    <style>
        body {
            background-color: #f9f9ff;
            padding: 0;
            padding-top: 20px;
        }

        .cube {
            padding: 50px 0;
            font-size: 30px;
            width: 100%;
            display: block;
            background-color: #8dc63f;
        }
    </style>

</head>

<body>


    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <span class="label label-success cube">__APPNAME__</span>
            </div>
            <div class="col-xs-3">
                <span class="label label-success cube">__APPNAME__</span>
            </div>
            <div class="col-xs-3">
                <span class="label label-success cube">__APPNAME__</span>
            </div>
        </div>


    </div> -->



</body>

</html>