<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>独具匠心</title>
	<link rel="stylesheet" type="text/css" href="__VENDOR__/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="__VENDOR__/amazeui/css/amazeui.css" />
	<link rel="stylesheet" type="text/css" href="__HDIST__//a/css/a.css" />
	<link rel="stylesheet" type="text/css" href="__HDIST__//originality/css/originality.css" />
</head>

<body>
	<!--顶部大图开始-->
	<div class="hongqiao-top">
		<img src="__ASSETS__//img/1.jpg" />
	</div>
	<!--顶部大图结束-->

	<!--课程简介开始-->
	<div class="">
		<!--学员作品集的标题开始-->
		<div class="hongqiao-title">
			<span id="">学员作品集</span>
		</div>
		<!--学员作品集的标题结束-->

		<!--图文详情开始-->
		<div class="container-fluid">
			<div class="row a-hongqiao-all">
				<a href="../stuDet/stuDet.html">
					<div class="col-xs-4 a-xs-4">
						<img src="__ASSETS__//img/10.jpg" />
					</div>
					<div class="col-xs-8 a-xs-8">
						<span id="">的内存看到你此刻的你没出来是面向产生了项目收联系层面出啦出来昵称</span>
					</div>
				</a>
			</div>
			<div class="row a-hongqiao-all">
				<a href="../stuDet/stuDet.html">
					<div class="col-xs-4 a-xs-4">
						<img src="__ASSETS__//img/11.jpg" />
					</div>
					<div class="col-xs-8 a-xs-8">
						<span id="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi maiores sequi tempore maxime nam voluptatem libero
							veniam beatae repellat suscipit vitae fugiat dolore ratione quisquam nemo ut delectus eum exercitationem!的代码木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木</span>
					</div>
				</a>
			</div>
			<div class="row a-hongqiao-all">
				<a href="../stuDet/stuDet.html">
					<div class="col-xs-4 a-xs-4">
						<img src="__ASSETS__//img/12.jpg" />
					</div>
					<div class="col-xs-8 a-xs-8">
						<span id="">地方的才能代名词打开插件的是模块能代名词打开插件的是模块把登陆的吃点饭奇偶贩把登陆的吃点饭奇偶贩毒聪明的李春妹</span>
					</div>
				</a>
			</div>
			<div class="row a-hongqiao-all">
				<a href="../stuDet/stuDet.html">
					<div class="col-xs-4 a-xs-4">
						<img src="__ASSETS__//img/15.jpeg" />
					</div>
					<div class="col-xs-8 a-xs-8">
						<span id="">才能看纽扣电池你打开明朝的菜市场，；参数</span>
					</div>
			</div>
			</a>
		</div>
		<!--图文详情结束-->
	</div>

	<script src="__VENDOR__/jquery/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="__VENDOR__/amazeui/js/amazeui.js" type="text/javascript" charset="utf-8"></script>
	<script src="__HDIST__//a/js/a.js" type="text/javascript" charset="utf-8"></script>
	<script src="__HDIST__//originality/js/originality.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>