<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>看书坊</title>
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../vendor/amazeui/css/amazeui.css" />
	<link rel="stylesheet" type="text/css" href="../../vendor/icon/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="../../dist/a/css/a.css" />
	<link rel="stylesheet" type="text/css" href="../../dist/home/css/home.css" />
</head>

<body>
	<!--顶部大图 开始-->
	<div class="a-top">
		<img src="../../assets/img/1.jpg" class="am-img-responsive a-opacity" alt="" />
		<div class="a-sousuo">
			<div class="col-xs-11">
				<div class="am-form-group am-form-warning">
					<input type="text" id="doc-ipt-warning" class="am-form-field" placeholder="搜索">
				</div>
			</div>
			<div class="col-xs-1">
				<span class="iconfont icon-fangdajing"></span>
			</div>
		</div>
	</div>

	<!--顶部大图结束-->

	<!--选项卡开始-->
	<div data-am-widget="tabs" class="am-tabs am-tabs-default" ;style="margin-top:167.39px">
		<!--三个顶部选项卡开始-->
		<ul class="am-tabs-nav am-cf">
			<li class="am-active a-li-1">
				<a href="[data-tab-panel-0]">身心健康</a>
			</li>
			<li class="a-li-2">
				<a href="[data-tab-panel-1]">幸福和谐</a>
			</li>
			<li class="a-li-3">
				<a href="[data-tab-panel-2]">时尚能干</a>
			</li>
		</ul>
		<!--三个顶部选项卡结束-->

		<!--选项卡下边的对应内容的开始-->
		<div class="am-tabs-bd">
			<!--第一个内容的开始-->
			<div data-tab-panel-0 class="am-tab-panel am-active">
				<div class="container-fluid">
					<a href="../details/details.html">
						<div class="row a-all">
							<div class="col-xs-3 a-list3">
								<img class="" src="../../assets/img/10.jpg" />
							</div>
							<div class="col-xs-9 a-list9">
								<span class="a-title">现代老年人养生保健指南少时诵诗书所所所所所现代老年人养生保健指南少时诵诗书所所所所所现代老年人养生保健指南少时诵诗书所所所所所现代老年人养生保健指南少时诵诗书所所所所所现代老年人养生保健指南少时诵诗书所所所所所</span>
								<span class="a-info">编著：</span>
								<span class="a-info">杨磊杨磊杨磊杨磊杨磊杨磊杨磊杨磊杨磊</span>
							</div>
						</div>
					</a>
					<a href="../details/details.html">
						<div class="row a-all">
							<div class="col-xs-3 a-list3">
								<img class="" src="../../assets/img/11.jpg" />
							</div>
							<div class="col-xs-9 a-list9">
								<span class="a-title">现代老年人养生保健指南</span>
								<span class="a-info">编著：</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">丁永明</span>
							</div>
						</div>
					</a>
					<a href="../details/details.html">
						<div class="row a-all">
							<div class="col-xs-3 a-list3">
								<img class="" src="../../assets/img/12.jpg" />
							</div>
							<div class="col-xs-9 a-list9">
								<span class="a-title">现代老年人养生保健指南</span>
								<span class="a-info">编著：</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">丁永明</span>
							</div>
						</div>
					</a>
					<a href="../details/details.html">
						<div class="row a-all">
							<div class="col-xs-3 a-list3">
								<img class="" src="../../assets/img/14.jpg" />
							</div>
							<div class="col-xs-9 a-list9">
								<span class="a-title">现代老年人养生保健指南</span>
								<span class="a-info">编著：</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">丁永明</span>
							</div>
						</div>
					</a>
					<a href="../details/details.html">
						<div class="row a-all">
							<div class="col-xs-3 a-list3">
								<img class="" src="../../assets/img/1.jpg" />
							</div>
							<div class="col-xs-9 a-list9">
								<span class="a-title">现代老年人养生保健指南</span>
								<span class="a-info">编著：</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">丁永明</span>
							</div>
						</div>
					</a>
					<a href="../details/details.html">
						<div class="row a-all">
							<div class="col-xs-3 a-list3">
								<img class="" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" />
							</div>
							<div class="col-xs-9 a-list9">
								<span class="a-title">现代老年人养生保健指南</span>
								<span class="a-info">编著：</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">丁永明</span>
							</div>
						</div>
					</a>
					<a href="../details/details.html">
						<div class="row a-all">
							<div class="col-xs-3 a-list3">
								<img class="" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" />
							</div>
							<div class="col-xs-9 a-list9">
								<span class="a-title">现代老年人养生保健指南</span>
								<span class="a-info">编著：</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">丁永明</span>
							</div>
						</div>
					</a>
					<a href="../details/details.html">
						<div class="row a-all">
							<div class="col-xs-3 a-list3">
								<img class="" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" />
							</div>
							<div class="col-xs-9 a-list9">
								<span class="a-title">现代老年人养生保健指南</span>
								<span class="a-info">编著：</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">丁永明</span>
							</div>
						</div>
					</a>
					<a href="../details/details.html">
						<div class="row a-all">
							<div class="col-xs-3 a-list3">
								<img class="" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" />
							</div>
							<div class="col-xs-9 a-list9">
								<span class="a-title">现代老年人养生保健指南</span>
								<span class="a-info">编著：</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">丁永明</span>
							</div>
						</div>
					</a>
					<a href="../details/details.html">
						<div class="row a-all">
							<div class="col-xs-3 a-list3">
								<img class="" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" />
							</div>
							<div class="col-xs-9 a-list9">
								<span class="a-title">现代老年人养生保健指南</span>
								<span class="a-info">编著：</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">丁永明</span>
							</div>
						</div>
					</a>
					<a href="../details/details.html">
						<div class="row a-all">
							<div class="col-xs-3 a-list3">
								<img class="" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" />
							</div>
							<div class="col-xs-9 a-list9">
								<span class="a-title">现代老年人养生保健指南</span>
								<span class="a-info">编著：</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">丁永明</span>
							</div>
						</div>
					</a>
					<a href="../details/details.html">
						<div class="row a-all">
							<div class="col-xs-3 a-list3">
								<img class="" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" />
							</div>
							<div class="col-xs-9 a-list9">
								<span class="a-title">现代老年人养生保健指南</span>
								<span class="a-info">编著：</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">丁永明</span>
							</div>
						</div>
					</a>
					<a href="../details/details.html">
						<div class="row a-all">
							<div class="col-xs-3 a-list3">
								<img class="" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" />
							</div>
							<div class="col-xs-9 a-list9">
								<span class="a-title">现代老年人养生保健指南</span>
								<span class="a-info">编著：</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">丁永明</span>
							</div>
						</div>
					</a>
					<a href="../details/details.html">
						<div class="row a-all">
							<div class="col-xs-3 a-list3">
								<img class="" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" />
							</div>
							<div class="col-xs-9 a-list9">
								<span class="a-title">现代老年人养生保健指南</span>
								<span class="a-info">编著：</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">丁永明</span>
							</div>
						</div>
					</a>
					<a href="../details/details.html">
						<div class="row a-all">
							<div class="col-xs-3 a-list3">
								<img class="" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" />
							</div>
							<div class="col-xs-9 a-list9">
								<span class="a-title">互联网应用</span>
								<span class="a-title">----从学会到用好</span>
								<span class="a-info">编著：</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">丁永明</span>
								<span class="a-info" id="">丁永明</span>
								<span class="a-info" id="">丁永明</span>
								<span class="a-info" id="">丁永明</span>
								<span class="a-info" id="">丁永明</span>
							</div>
						</div>
					</a>
				</div>
			</div>
			<!--第一个内容的结束-->

			<!--第二个内容的开始-->
			<div data-tab-panel-1 class="am-tab-panel ">
				<div class="container-fluid">
					<a href="../details/details.html">
						<div class="row a-all">
							<div class="col-xs-3 a-list3">
								<img class="" src="../../assets/img/10.jpg" />
							</div>
							<div class="col-xs-9 a-list9">
								<span class="a-title">做与时代同行的老人</span>
								<span class="a-info">撰&nbsp&nbsp写：</span>
								<span class="a-info" id="">陈雪良</span>
							</div>
						</div>
					</a>
				</div>
			</div>
			<!--第二个内容的结束-->

			<!--第三个内容的开始  标题a-title分两行 就a-title的用两个-->
			<div data-tab-panel-2 class="am-tab-panel ">
				<div class="container-fluid">
					<!--a标签的跳转 开始-->
					<a href="../details/details.html">
						<div class="row a-all">
							<div class="col-xs-3 a-list3">
								<img class="" src="../../assets/img/16.jpg" />
							</div>
							<div class="col-xs-9 a-list9">
								<span class="a-title">互联网应用</span>
								<span class="a-title">----从学会到用好</span>
								<span class="a-info">撰&nbsp&nbsp写：</span>
								<span class="a-info" id="">陈雪良</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">杨磊</span>
								<span class="a-info" id="">杨磊</span>
							</div>
						</div>
					</a>
					<!--a标签的跳转 结束-->
				</div>
			</div>
			<!--第三个内容的结束-->

		</div>
		<!--选项卡对应内容的结束-->
	</div>
	<!--选项卡结束-->

	<!--返回顶部  开始-->
	<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
		<a href="#top" title="回到顶部">
			<span class="am-gotop-title">回到顶部</span>
			<i class="am-gotop-icon am-icon-chevron-up"></i>
		</a>
	</div>
	<!--返回顶部 结束-->
	<script src="../../vendor/jquery/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../vendor/amazeui/js/amazeui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../dist/a/js/a.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../dist/home/js/home.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>