<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>{$exam.exam_title}课程</title>
	<link rel="stylesheet" type="text/css" href="__VENDOR__/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="__VENDOR__/amazeui/css/amazeui.css" />
	<link rel="stylesheet" type="text/css" href="__HDIST__/a/css/a.css" />
	<link rel="stylesheet" type="text/css" href="__HDIST__/exam/css/exam.css" />
	<style>
		.am-btn {

			background-image: url(__ASSETS__/img/13.jpg);
		}

		.col-xs-6 {
			padding: 10px;
		}
	</style>
</head>

<body>
	<div class="">
		<!--首页轮播开始-->
		<div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}'>
			<ul class="am-slides">
				<li>
					<img src="__ASSETS__/img/1.jpg">
				</li>
				<li>
					<img src="__ASSETS__/img/2.jpg">
				</li>
				<li>
					<img src="__ASSETS__/img/17.png">
				</li>
				<li>
					<img src="__ASSETS__/img/4.jpg">
				</li>
			</ul>
		</div>
		<!--首页轮播结束-->

		<!--标题开始-->
		<div class="exam-title" id="exam-title">
			{$exam.exam_title}课程
		</div>
		<!--标题结束-->

		<div class="container index-container">
			<div class="row">
				<volist name='subject' id='vol' emoty='没有相关数据'>
					<div class="col-xs-6">
						<a href="__MODULE__/subject/subject/subject_id/{$vol.subject_id}/type/{$type}">
							<button type="button" class="am-btn am-btn-warning am-round">{$vol.subject_title}</button>
						</a>
					</div>
				</volist>
			</div>
		</div>

	</div>

	<script src="__VENDOR__/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__VENDOR__/amazeui/js/amazeui.js" type="text/javascript" charset="utf-8"></script>
	<script src="__HDIST__/a/js/a.js" type="text/javascript" charset="utf-8"></script>
	<script src="__HDIST__/exam/js/exam.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>