<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>报名页面</title>
	<link rel="stylesheet" type="text/css" href="__VENDOR__/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="__VENDOR__/amazeui/css/amazeui.css" />
	<link rel="stylesheet" type="text/css" href="__HDIST__/a/css/a.css" />
	<link rel="stylesheet" type="text/css" href="__HDIST__/enlist/css/enlist.css" />
	<style>
		button[disabled="disabled"] {
			background-color: #ddd !important;
			color: #000;
			border: none;
			font-weight: 400;
		}
	</style>

</head>

<body>

	<div class="enlist-top">
		<img src="__ASSETS__/img/1.jpg" />
	</div>

	<div class="container-fluid">


		<if condition='$Think.get.type == 3'>
			<!-- 企业预约 -->

			<form class="layui-form" id="a-form" action="" method="post">

				<input type="hidden" name="type" value='{$Think.get.type}'>
				<input type="hidden" name="subject_id" value='{$Think.get.subject_id}'>
				<input type="hidden" name="user_id" value='{$Think.session.user_id}'>
				<input type="hidden" name="_repeat_code" value='{$_repeat_code}'>

				<div class="row sign-all">
					<div class="col-xs-4 sign-list-4">
						<span>企业名称</span>
					</div>
					<div class="col-xs-8 sign-list-8">
						<input type="text" name="firm_name" placeholder="请输入企业名称">
					</div>
				</div>
				<div class="row sign-all">
					<div class="col-xs-4 sign-list-4">
						<span>企业地址</span>
					</div>
					<div class="col-xs-8 sign-list-8">
						<input type="text" name="firm_location" placeholder="请输入企业地址">
					</div>
				</div>
				<div class="row sign-all">
					<div class="col-xs-4 sign-list-4">
						<span>联系人</span>
					</div>
					<div class="col-xs-8 sign-list-8">
						<input type="text" name="firm_people" placeholder="请输入联系人">
					</div>
				</div>
				<div class="row sign-all">
					<div class="col-xs-4 sign-list-4">
						<span>联系方式</span>
					</div>
					<div class="col-xs-8 sign-list-8">
						<input type="text" name="firm_phone" placeholder="请输入联系方式">
					</div>
				</div>

				<button type="submit" class="am-btn am-btn-primary am-btn-block a-submit">提交信息</button>
			</form>

			<else/>
			<!-- 学生报名 -->
			<form id="a-form" class="layui-form" action="" method="post">
				<input type="hidden" name="subject_id" value='{$Think.get.subject_id}'>
				<input type="hidden" name="user_id" value='{$Think.session.user_id}'>
				<input type="hidden" name="_repeat_code" value='{$_repeat_code}'>

				<div class="row sign-all">
					<div class="col-xs-4 sign-list-4">
						<span>姓名</span>
					</div>
					<div class="col-xs-8 sign-list-8">
						<!-- 必填 -->
						<input type="text" lay-verify='required' value="{$Think.session.user_name}" name="user_name" placeholder="请输入姓名">
					</div>
				</div>
				<div class="row sign-all">
					<div class="col-xs-4 sign-list-4">
						<span>性别</span>
					</div>
					<div class="col-xs-8 sign-list-8">
						<!-- 必填 -->
						<label>
							男
							<input type="radio" lay-verify='required' value="男" name="user_sex">
						</label>
						<label>
							女
							<input type="radio" lay-verify='required' value="女" name="user_sex">
						</label>
					</div>
				</div>
				<div class="row sign-all">
					<div class="col-xs-4 sign-list-4">
						<span>年龄</span>
					</div>
					<div class="col-xs-8 sign-list-8">
						<!-- 必填 -->
						<input type="text" lay-verify='required' name="user_age" placeholder="请输入年龄">
					</div>
				</div>
				<div class="row sign-all">
					<div class="col-xs-4 sign-list-4">
						<span>邮箱</span>
					</div>
					<div class="col-xs-8 sign-list-8">
						<!-- 选填 -->
						<input type="email" name="user_mail" placeholder="请输入邮箱">
					</div>
				</div>
				<div class="row sign-all">
					<div class="col-xs-4 sign-list-4">
						<span>手机号</span>
					</div>
					<div class="col-xs-8 sign-list-8">
						<!-- 必填 -->
						<input type="text" lay-verify='required' name='user_phone' value="{$Think.session.user_phone}" placeholder="请输入手机号">
					</div>
				</div>
				<if condition='$Think.session.admin_id == "root"'>

					<button type="submit" lay-submit lay-filter='*' class="am-btn am-btn-primary am-btn-block a-submit">（管理模式）暂未到报名时间！</button>
					<else/>
					<button type="submit" disabled='disabled' lay-submit lay-filter='*' class="am-btn am-btn-primary am-btn-block a-submit">暂未到报名时间！</button>

				</if>
				
				<!--  -->
			</form>
		</if>


	</div>
	<script src="__VENDOR__/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__VENDOR__/amazeui/js/amazeui.js" type="text/javascript" charset="utf-8"></script>
	<script src="__VENDOR__/layui/layui.js"></script>
	<script src="__HDIST__/a/js/a.js" type="text/javascript" charset="utf-8"></script>
	<script src="__HDIST__/enlist/js/enlist.js" type="text/javascript" charset="utf-8"></script>
	<script>

		layui.use('form', function () {
			var form = layui.form;
			form.on('submit(*)', function (data) {
			});

		});
	</script>


</body>

</html>