<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>虹桥面塑</title>
	<link rel="stylesheet" type="text/css" href="__VENDOR__/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="__VENDOR__/amazeui/css/amazeui.css" />
	<link rel="stylesheet" type="text/css" href="__HDIST__/a/css/a.css" />
	<link rel="stylesheet" type="text/css" href="__HDIST__/panel/css/panel.css" />
</head>

<body>
	<!--顶部大图开始-->
	<div class="hongqiao-top">
		<img src="__ASSETS__/img/1.jpg" />
	</div>
	<!--顶部大图结束-->

	<!--课程简介开始-->
	<div class="">
		<!--课程简介的标题开始-->

		<!--课程简介的详情是 couDet这个页面     每个课程详情的row里边加了一个a标签把这个图片和文字包起来包起来-->
		<div class="hongqiao-title">
			<span id="">课程简介</span>
		</div>
		<!--课程简介的标题结束-->
		<!--图文详情开始-->
		<div class="container-fluid">



			<volist name='paper[0]' id='vol' empty='没有课程简介'>

				<div class="row a-hongqiao-all">
					<a href="__CONTROLLER__/show/paper_id/{$vol.paper_id}">

						<div class="col-xs-4 a-xs-4">
							<img src="__ROOT__/{$vol.paper_head}" />
						</div>
						<div class="col-xs-8 a-xs-8">
							<span id="">
								{$vol.paper_title}
							</span>
						</div>
					</a>
				</div>
			</volist>

		</div>
		<!--图文详情结束-->
	</div>
	<!--课程简介结束-->

	<!--教材开始-->
	<div class="">
		<!--教材标题开始-->
		<!--教材的详情是 bookDet这个页面     每个课程详情的row里边加了一个a标签把这个图片和文字包起来包起来-->
		<div class="hongqiao-title">
			<span id="">教材</span>
		</div>
		<!--教材标题结束-->
		<!--教材开始-->


		<div class="container-fluid">

			<div class="row">


				<volist name='paper[1]' id='vol' empty='没有教材信息'>
					<div class="col-xs-6">
						<a href="__CONTROLLER__/show/paper_id/{$vol.paper_id}">
							<div class="book-list">
								<img src="__ROOT__/{$vol.paper_head}" />
								<div class="goods-info">
									<div>{$vol.paper_title}</div>
								</div>
							</div>
						</a>
					</div>
				</volist>

			</div>

		</div>
		<!--教材结束-->
	</div>
	<!--教材结束-->

	<!--作品展示开始-->
	<div class="">
		<!--作品展示标题开始-->
		<!--作品展示的详情是 workDet这个页面     每个课程详情的row里边加了一个a标签把这个图片和文字包起来包起来-->
		<div class="hongqiao-title">
			<span id="">作品展示</span>
		</div>
		<!--作品展示的标题结束-->

		<!--列表开始-->
		<div class="container-fluid">
			<div class="row">


				<volist name='paper[2]' id='vol' empty='没有作品信息'>
					<div class="col-xs-6">
						<a href="__CONTROLLER__/show/paper_id/{$vol.paper_id}">
							<div class="book-list">
								<img src="__ROOT__/{$vol.paper_head}" />
								<div class="goods-info">
									<div>{$vol.paper_title}</div>
								</div>
							</div>
						</a>
					</div>
				</volist>








			</div>
		</div>
		<!--列表结束-->
	</div>
	<!--作品展示结束-->
	<script src="__VENDOR__/jquery/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="__VENDOR__/amazeui/js/amazeui.js" type="text/javascript" charset="utf-8"></script>
	<script src="__HDIST__/a/js/a.js" type="text/javascript" charset="utf-8"></script>
	<script src="__HDIST__/panel/js/panel.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>