<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>作品展示详情页面</title>
		<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../vendor/amazeui/css/amazeui.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/a/css/a.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/workDet/css/workDet.css" />
	</head>

	<body>

		<div class="container-fluid">
			<div class="row">
				<!--这个det-12的样式在a.css里边 作用是把col-xs-12的padding样式去掉-->
				<div class="col-xs-12 det-12">
					<div class="" data-am-widget="paragraph" data-am-paragraph="{ tableScrollable: true, pureview: true }">
						<img src="../../assets/img/25.jpg" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="a-essay" data-am-widget="paragraph" data-am-paragraph="{ tableScrollable: true, pureview: true }">
						<img src="../../assets/img/10.jpg">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor libero laudantium amet et veniam reprehenderit molestiae in iste nostrum minima obcaecati atque delectus totam cumque necessitatibus iusto consequatur voluptatibus nulla.</p>
						<img src="../../assets/img/14.jpg">
							<p>学生MM木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木眉毛眉毛木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木错错错错错错错错错错错错错错错错错错错错错错曾多次多吃点</p>
						<img src="../../assets/img/17.png">
							<p>学生MM木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木眉毛眉毛木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木错错错错错错错错错错错错错错错错错错错错错错曾多次多吃点</p>
					</div>
				</div>
			</div>
		</div>

		<script src="../../vendor/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../vendor/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../vendor/amazeui/js/amazeui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../dist/a/js/a.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../dist/workDet/js/workDet.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>