<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>安排详情页面</title>
		<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../vendor/amazeui/css/amazeui.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/a/css/a.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/positDet/css/positDet.css" />
	</head>

	<body>

		<div class="container-fluid">
			<!--顶部的大图开始-->
			<div class="row">
				<div class="col-xs-12 det-12">
					<div class="" data-am-widget="paragraph" data-am-paragraph="{ tableScrollable: true, pureview: true }">
						<img src="../../assets/img/1.jpg" />
					</div>
				</div>
			</div>
			<!--顶部的大图结束-->
			<div class="row">

				<div class="col-xs-12">
					<div class="" data-am-widget="paragraph" data-am-paragraph="{ tableScrollable: true, pureview: true }">
						<img src="../../assets/img/14.jpg" />
						<div class="">
							<!--课程的名称-->
							<div class="posit-name">名称：老年养生</div>
							<div class="posit-time">时间：2017/12/11</div>
							<div class="posit-place">地点：上海市青浦区北斗产业园</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ipsum itaque placeat vitae sapiente cumque eveniet maxime recusandae illum fugit iste distinctio sit omnis dignissimos quaerat ea veritatis ab quo.</p>
						</div>
					</div>
				</div>
				<!--作品的详情结束-->
			</div>
		</div>

		<script src="../../vendor/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../vendor/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../vendor/amazeui/js/amazeui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../dist/a/js/a.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../dist/positDet/js/positDet.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>