<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>传统礼仪</title>
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../vendor/amazeui/css/amazeui.css" />
	<link rel="stylesheet" type="text/css" href="../../dist/a/css/a.css" />
	<link rel="stylesheet" type="text/css" href="../../dist/tradition/css/tradition.css" />
</head>

<body>
	<!--顶部大图开始-->
	<div class="hongqiao-top">
		<img src="../../assets/img/1.jpg" />
	</div>
	<!--顶部大图结束-->

	<!--课程内容开始-->
	<div class="">
		<!--课程内容的标题开始-->
		<div class="hongqiao-title">
			<span id="">课程内容</span>
		</div>
		<!--课程内容的标题结束-->
		<!--图文详情开始-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<div class="row a-hongqiao-all">
						<a href="../couConDet/couConDet.html">
							<div class="col-xs-4 a-xs-4">
								<img src="../../assets/img/10.jpg" />
							</div>
							<div class="col-xs-8 a-xs-8">
								<span id="">的代码吃烧烤承诺书开除你上次你说没什么事了产生了才弄完配电间配电间</span>
							</div>
						</a>
					</div>
					<div class="row a-hongqiao-all">
						<a href="../couConDet/couConDet.html">
							<div class="col-xs-4 a-xs-4">
								<img src="../../assets/img/11.jpg" />
							</div>
							<div class="col-xs-8 a-xs-8">
								<span id="">的代码斗士都是的泥石流等玛莎拉发什么了代码是是第九师第九师第三列第三凉快承诺书</span>
							</div>
						</a>
					</div>
					<div class="row a-hongqiao-all">
						<a href="../couConDet/couConDet.html">
							<div class="col-xs-4 a-xs-4">
								<img src="../../assets/img/12.jpg" />
							</div>
							<div class="col-xs-8 a-xs-8">
								<span id="">的代码产生了承诺书了拿出来水泥厂没拍的啥跑得快差距是配电间商品的给排水颠三倒四木</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!--图文详情结束-->
	</div>
	<!--课程内容结束-->

	<!--教材开始-->
	<div class="">
		<!--教材标题开始-->
		<!--教材的详情是 bookDet这个页面     每个课程详情的row里边加了一个a标签把这个图片和文字包起来包起来-->
		<div class="hongqiao-title">
			<span id="">教材</span>
		</div>
		<!--教材标题结束-->
		<!--教材开始-->
		<div class="container-fluid">
			<div class="row">
				<a href="../bookDet/bookDet.html">
					<div class="col-xs-6">
						<div class="book-list">
							<img src="../../assets/img/10.jpg" />
							<div class="goods-info">
								<div>猜灯谜此刻的你</div>
							</div>
						</div>
					</div>
				</a>
				<div class="col-xs-6">
					<a href="../bookDet/bookDet.html">
						<div class="book-list">
							<img src="../../assets/img/11.jpg" />
							<div class="goods-info">
								<div>没得法忙的了</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-6">
					<a href="../bookDet/bookDet.html">
						<div class="book-list">
							<img src="../../assets/img/14.jpg" />
							<div class="goods-info">
								<div>的飞老大你开的</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-6">
					<a href="../bookDet/bookDet.html">
						<div class="book-list">
							<img src="../../assets/img/12.jpg" />
							<div class="goods-info">
								<div>聪明的连吃带拿</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!--教材结束-->
	</div>
	<!--教材结束-->

	<!--安排开始-->
	<div class="">
		<!--安排的标题开始-->
		<div class="hongqiao-title">
			<span id="">安排</span>
		</div>
		<!--安排的标题结束-->
		<!--图文详情开始-->
		<div class="container-fluid">
			<div class="row a-hongqiao-all">
				<a href="../positDet/positDet.html">
					<div class="col-xs-4 a-xs-4">
						<img src="../../assets/img/10.jpg" />
					</div>
					<div class="col-xs-8 a-xs-8">
						<span id="">的代码木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木</span>
					</div>
				</a>
			</div>
			<div class="row a-hongqiao-all">
				<a href="../positDet/positDet.html">
					<div class="col-xs-4 a-xs-4">
						<img src="../../assets/img/11.jpg" />
					</div>
					<div class="col-xs-8 a-xs-8">
						<span id="">的代码木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木</span>
					</div>
				</a>
			</div>
			<div class="row a-hongqiao-all">
				<a href="../positDet/positDet.html">
					<div class="col-xs-4 a-xs-4">
						<img src="../../assets/img/12.jpg" />
					</div>
					<div class="col-xs-8 a-xs-8">
						<span id="">的代码木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木木</span>
					</div>
				</a>
			</div>
		</div>
		<!--图文详情结束-->
	</div>
	<!--安排结束-->

	<!--视频开始-->
	<div class="">
		<!--视频的标题开始-->
		<div class="hongqiao-title">
			<span id="">视频</span>
		</div>
		<!--视频的标题结束-->
		<!--视频开始-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<video controls loop>
						<source src="../../assets/video/huanbao.mp4" type="video/mp4">
					</video>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus omnis dicta vel nesciunt possimus maxime nemo praesentium
						incidunt! Eum autem modi doloremque quia consequuntur dicta quas? Eligendi dignissimos velit dolor?</p>
				</div>
				<div class="col-xs-12">
					<video controls loop>
						<source src="../../assets/video/huanbao.mp4" type="video/mp4">
					</video>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus omnis dicta vel nesciunt possimus maxime nemo praesentium
						incidunt! Eum autem modi doloremque quia consequuntur dicta quas? Eligendi dignissimos velit dolor?</p>
				</div>
			</div>
		</div>
		<!--视频结束-->
	</div>
	<!--视频结束-->
	<script src="../../vendor/jquery/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../vendor/amazeui/js/amazeui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../dist/a/js/a.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../dist/tradition/js/tradition.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>