<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="google" content="notranslate">

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>视频</title>
		<link rel="stylesheet" type="text/css" href="../../vendor/pdf/jquery.touchPDF.css" />
		<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../vendor/amazeui/css/amazeui.css" />
		<link rel="stylesheet" type="text/css" href="../../vendor/icon/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/a/css/a.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/details/css/details.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/video/css/video.css"/>

	</head>

	<body>
		<!--最外层的div开始-->
		<div class="">
			<div class="container-fluid detail-all">
				<!--顶部的图片和右侧信息  开始-->
				<div class="col-xs-12 detail-top">
					<img src="../../assets/img/12.jpg" />
					<div class="detail-9">
						<span class="a-title">老年慢性病的自我管理(上)</span>
						<div class="a-name">
							<span class="a-info">编著</span>
							<span class="a-info">丁大头  丁晓头</span>
						</div>
					</div>
				</div>
				<!--顶部的图片和右侧信息  结束-->
				<div>
					<!--下边两个选项卡开始-->
					<div class="">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active">
								<a href="#home" aria-controls="home" role="tab" data-toggle="tab">内容简介</a>
							</li>
							<li role="presentation">
								<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">出版信息</a>
							</li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
							<!--第一个开始-->
							<div role="tabpanel" class="tab-pane active detail-one-list" id="home">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam nulla cupiditate suscipit natus ex consectetur voluptatem id! Eos quos dolore est aut eveniet minus accusamus! Sapiente sequi cum similique corporis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam nulla cupiditate suscipit natus ex consectetur voluptatem id! Eos quos dolore est aut eveniet minus accusamus! Sapiente sequi cum similique corporis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam nulla cupiditate suscipit natus ex consectetur voluptatem id! Eos quos dolore est aut eveniet minus accusamus! Sapiente sequi cum similique corporis.
							</div>
							<!--第一个结束-->

							<!--第二个开始-->
							<div role="tabpanel" class="tab-pane" id="profile">
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-3 detail-3">
											开发:
										</div>
										<div class="col-xs-9 detail-content">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quod doloremque delectus sed accusamus harum ab magni reprehenderit dolorem modi atque fugit quaerat impedit tempora aliquid in ipsa id repudiandae.
										</div>
									</div>
									<div class="row">
										<div class="col-xs-3 detail-3">
											出版社:
										</div>
										<div class="col-xs-9 detail-content">
											都没了都是你的你男的女的那等你拿点你的那等你多么多么对面买的买的买的么么哒买的吗多么多么对面买的多么多么买的买的买的买的咳咳咳
										</div>
									</div>
								</div>
							</div>
							<!--第二个结束、-->
						</div>
					</div>
					<!--下边两个选项卡结束-->
				</div>

				<!--内容目录开始-->
				<div class="content">
					内容目录
				</div>
				<!--内容目录结束-->
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 video-12">
							<!--1.概述   开始-->
							<div class="">
								<ul>
									<li data-toggle="modal" data-target=".bs-example-modal-lg">
										<span id="">机票订购</span>
										<span class="iconfont icon-right fr"></span>
									</li>
									<li data-toggle="modal" data-target=".bs-example-modal-lg">
										<span id="">办理登记</span>
										<span class="iconfont icon-right fr"></span>
									</li>
									<li data-toggle="modal" data-target=".bs-example-modal-lg">
										<span id="">什么是慢性病</span>
										<span class="iconfont icon-right fr"></span>
									</li>
									<li data-toggle="modal" data-target=".bs-example-modal-lg">
										<span id="">慢性病发生的原因</span>
										<span class="iconfont icon-right fr"></span>
									</li>
									<li data-toggle="modal" data-target=".bs-example-modal-lg">
										<span id="">慢性病与急性病的区别</span>
										<span class="iconfont icon-right fr"></span>
									</li>
									<li data-toggle="modal" data-target=".bs-example-modal-lg">
										<span id="">慢性病的主要危害</span>
										<span class="iconfont icon-right fr"></span>
									</li>
								</ul>
							</div>
							<!--1.概述结束-->
						</div>
					</div>
				</div>

			</div>
		</div>
		<!--最外层的div结束-->

		<!--模态框  开始-->
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						<h4 class="modal-title">慢性病概述</h4>
					</div>
					<div class="modal-body">
						<!--第一版的pdf插件 开始 ：就用了-->
						<!--<div class="myPDF"></div>-->
						<!--第一版的pdf插件 结束-->
						<video width="320" height="240" controls>
							<source src="../../assets/video/huanbao.mp4" type="video/mp4">
						</video>
					</div>
				</div>
			
			</div>
		</div>
		<!--模态框结束-->

		<script src="../../vendor/jquery/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../vendor/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../vendor/amazeui/js/amazeui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../dist/a/js/a.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../dist/video/js/video.js" type="text/javascript" charset="utf-8"></script>

	</body>

</html>