<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>虹桥面塑</title>
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../vendor/amazeui/css/amazeui.css" />
	<link rel="stylesheet" type="text/css" href="../../dist/a/css/a.css" />
	<link rel="stylesheet" type="text/css" href="../../dist/panel/css/panel.css" />
</head>

<body>
	<!--顶部大图开始-->
	<div class="hongqiao-top">
		<img src="../../assets/img/1.jpg" />
	</div>
	<!--顶部大图结束-->

	<!--课程简介开始-->
	<div class="">
		<!--课程简介的标题开始-->

		<!--课程简介的详情是 couDet这个页面     每个课程详情的row里边加了一个a标签把这个图片和文字包起来包起来-->
		<div class="hongqiao-title">
			<span id="">课程简介</span>
		</div>
		<!--课程简介的标题结束-->
		<!--图文详情开始-->
		<div class="container-fluid">
			<div class="row a-hongqiao-all">
				<a href="../couDet/couDet.html">
					<div class="col-xs-4 a-xs-4">
						<img src="../../assets/img/10.jpg" />
					</div>
					<div class="col-xs-8 a-xs-8">
						<span id="">
							分肯定可能吃大餐名称三轮车玛莎拉层面上没得玩碰到我碰到今晚 分肯定可能吃大餐名称三轮车玛莎拉层面上没得玩碰到我碰到今晚
						</span>
					</div>
				</a>
			</div>
			<div class="row a-hongqiao-all">
				<a href="../couDet/couDet.html">
					<div class="col-xs-4 a-xs-4">
						<img src="../../assets/img/12.jpg" />
					</div>
					<div class="col-xs-8 a-xs-8">
						<span id="">
							还打不打思考开始看室内设计师没事没事没什么 还打不打思考开始看室内设计师没事没事没什么
						</span>
					</div>
				</a>
			</div>
			<div class="row a-hongqiao-all">
				<a href="../couDet/couDet.html">
					<div class="col-xs-4 a-xs-4">
						<img src="../../assets/img/14.jpg" />
					</div>
					<div class="col-xs-8 a-xs-8">
						<span id="">的代码轮车玛莎拉层面上没得玩碰到我碰到今晚 分肯定可能吃大餐名称三轮车玛莎拉层面上没得玩碰到我碰到今晚木木木
						</span>
					</div>
				</a>
			</div>
			<div class="row a-hongqiao-all">
				<a href="../couDet/couDet.html">
					<div class="col-xs-4 a-xs-4">
						<img src="../../assets/img/15.jpeg" />
					</div>
					<div class="col-xs-8 a-xs-8">
						<span id="">的后发货后部分农村没门次聪明的开车门的课程没打开发你的没法打</span>
					</div>
				</a>
			</div>
		</div>
		<!--图文详情结束-->
	</div>
	<!--课程简介结束-->

	<!--教材开始-->
	<div class="">
		<!--教材标题开始-->
		<!--教材的详情是 bookDet这个页面     每个课程详情的row里边加了一个a标签把这个图片和文字包起来包起来-->
		<div class="hongqiao-title">
			<span id="">教材</span>
		</div>
		<!--教材标题结束-->
		<!--教材开始-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6">
					<a href="../bookDet/bookDet.html">
						<div class="book-list">
							<img src="../../assets/img/11.jpg" />
							<div class="goods-info">
								<div>猜灯谜此刻的你</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-6">
					<a href="../bookDet/bookDet.html">
						<div class="book-list">
							<img src="../../assets/img/12.jpg" />
							<div class="goods-info">
								<div>没得法忙的了</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-6">
					<a href="../bookDet/bookDet.html">
						<div class="book-list">
							<img src="../../assets/img/10.jpg" />
							<div class="goods-info">
								<div>的飞老大你开的</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-6">
					<a href="../bookDet/bookDet.html">
						<div class="book-list">
							<img src="../../assets/img/14.jpg" />
							<div class="goods-info">
								<div>聪明的连吃带拿</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!--教材结束-->
	</div>
	<!--教材结束-->

	<!--作品展示开始-->
	<div class="">
		<!--作品展示标题开始-->
		<!--作品展示的详情是 workDet这个页面     每个课程详情的row里边加了一个a标签把这个图片和文字包起来包起来-->
		<div class="hongqiao-title">
			<span id="">作品展示</span>
		</div>
		<!--作品展示的标题结束-->

		<!--列表开始-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6">
					<a href="../workDet/workDet.html">
						<div class="book-list">
							<img src="../../assets/img/11.jpg" />
							<div class="goods-info">
								<div>猜灯谜此刻的你</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-6">
					<a href="../workDet/workDet.html">
						<div class="book-list">
							<img src="../../assets/img/12.jpg" />
							<div class="goods-info">
								<div>没得法忙的了</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-6">
					<a href="../workDet/workDet.html">
						<div class="book-list">
							<img src="../../assets/img/14.jpg" />
							<div class="goods-info">
								<div>的飞老大你开的</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-6">
					<a href="../workDet/workDet.html">
						<div class="book-list">
							<img src="../../assets/img/10.jpg" />
							<div class="goods-info">
								<div>聪明的连吃带拿</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!--列表结束-->
	</div>
	<!--作品展示结束-->
	<script src="../../vendor/jquery/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../vendor/amazeui/js/amazeui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../dist/a/js/a.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../dist/panel/js/panel.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>